PROJECT_NAME=PRJ_156_Server_Log_System

LOG_DIR=logs

LOG_LEVEL=INFO

OPENSEARCH_HOST=localhost

OPENSEARCH_PORT=9200

OPENSEARCH_USERNAME=admin

OPENSEARCH_PASSWORD=your_password

CLASSIFIER_PORT=8000

NOTIFICATION_PORT=8001

SLACK_WEBHOOK_URL=

SMTP_SERVER=

SMTP_PORT=

SMTP_USERNAME=

SMTP_PASSWORD=