# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual Environment
.venv/

# Environment Variables
.env

# Logs
logs/*.log
logs/*.json

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/

# Python Cache
.mypy_cache/

# Docker
opensearch/data/

# Misc
*.tmp
*.bak